<!-- templates/update_task.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Task</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   <div class="center-container" style="max-width: 400px;">
    <h2 style="margin-bottom: 18px;">Update Task (ID: {{ task.id }})</h2>

    <form action="{{ url_for('tasks.update_task', task_id=task.id) }}" method="post">
        <label for="title">Title:</label>
        <input type="text" name="title" value="{{ task.title }}" required>

        <label for="description">Description:</label>
        <input type="text" name="description" value="{{ task.description }}" required>

        <label for="deadline">Deadline (YYYY-MM-DD):</label>
        <input type="text" name="deadline" value="{{ task.deadline.strftime('%Y-%m-%d') }}" required>

        <label for="category">Category:</label>
        <select name="category" required>
            <option value="Personal" {% if task.category == "Personal" %}selected{% endif %}>Personal</option>
            <option value="Office" {% if task.category == "Office" %}selected{% endif %}>Office</option>
        </select>

        <button type="submit">Update Task</button>
    </form>

    <div class="links" style="margin-top: 24px;">
      <a href="{{ url_for('tasks.get_all_tasks') }}">Back to All Tasks</a>
    </div>
   </div>
</body>
</html>
